viser
opencv-python
imageio
imageio-ffmpeg
matplotlib
tensorboard
scikit-learn
jaxtyping
roma
ninja
pytorch-msssim
fsspec
loguru
--extra-index-url https://download.pytorch.org/whl/cu122
torch==2.2.0
torchvision==0.17.0
ipdb
nerfview
torchmetrics
splines==0.3.2
pyyaml
black==24.4.2
isort==5.13.2
git+https://github.com/rmbrualla/pycolmap@cc7ea4b7301720ac29287dbe450952511b32125e
geffnet
